<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{> header}}
    <p>{{getCapital welcomeMessage}}</p>
    <p>About Home....</p>
    {{> footer}}
  </body>
</html>
